.container {
  margin-bottom: 3rem;
  padding-top: 0.5rem;
}

.title {
  background: #DDDDDD;
  height: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 2px;
}

.stories_container {
  padding-left: 30px;
}

.story {
  background: #DDDDDD;
  height: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  opacity: 0.6;
}
