.container {
  display: flex;
  padding-top: 44px;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar {
  background: #F7F7F7;
  width: 420px;
  padding: 1rem 1rem 0;
  box-sizing: border-box;
  overflow: scroll;
}

.content {
  flex: 1;
  padding: 2.5rem;
  box-sizing: border-box;
}

.goals_title {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.75rem;
}
