.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.content {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.add_goal_form {
  padding: 1.5rem;
}

@media screen and (max-width: 940px) {
  .sidebar {
    display: none;
  }
}