.container {
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #dddddd;
  margin-bottom: 0.5rem;
  cursor: -webkit-grab;
}

.container:active {
  cursor: -webkit-grabbing;
}

.title {
  display: block;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  justify-content: flex-end;
}

.id {
  font-size: 0.75rem;
  color: #9b9b9b;
  text-decoration: none;
}

.id:hover {
  color: #4a4a4a;
}
