.add_goal_button {
  appearance: none;
  border: none;
  background: #821EBA;
  color: #FFFFFF;
  font-size: 0.875rem;
  border-radius: 4px;
  width: 145px;
  padding: 0.5rem;
  cursor: pointer;
}

.empty {
  margin-left: 1rem;
}

.hint {
  color: #9B9B9B;
  font-size: 0.9rem;
  margin-left: 0.25rem;
}

@media screen and (max-width: 940px) {
  .add_goal_button, .empty {
    display: none;
  }
}