.story_drag_container {
  padding-left: 10px;
}

.story {
  color: #4a4a4a;
  position: relative;
  padding: 0.5rem 0 0.5rem 2rem;
}

.icon {
  position: absolute;
  left: 0;
  min-width: 20px;
  min-height: 20px;
  opacity: 0.6;
  color: #9B9B9B;
  margin-top: 3px;
  font-size: 14px;
}

.story_icon_completed {
  color: #38D41C;
  opacity: 1;
  margin-top: 1px;
  font-size: 16px;
}

.after {
  opacity: 0;
  font-size: 0.75rem;
  margin-left: 8px;
  white-space: nowrap;
}

.story:hover .after {
  opacity: 1;
}

.content {
  display: flex;
}

.number {
  margin-right: 8px;
  line-height: 1.3;
}

.name {
  flex: 1;
  line-height: 1.3;
}

.ownerList {
  padding: 0 5px;
}

.owner {
  margin: 0 0 0 5px;
}

.owner .initials {
  box-sizing: border-box;
  display: inline-block;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  background: #9B9B9B;
  opacity: 0.5;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.dragHandle {
  cursor: -webkit-grab;
}

.isDragging {
  opacity: 0;
}

.isDragging, .isDragging * {
  cursor: -webkit-grabbing !important;
}

.id {
  text-decoration: none;
  color: #9B9B9B;
}

.id:hover {
  color: #4A4A4A;
}

.delete_button {
  padding: 0;
  margin: 0 0 0 8px;
  background: none;
  border: none;
  box-shadow: none;
  color: #9B9B9B;
  appearance: none;
  cursor: pointer;
}

.delete_button:hover {
  color: #E63333;
}

@media screen and (max-width: 940px) {
  .delete_button {
    display: none;
  }
}
