.container {
  margin-bottom: 0;
}

.titlebar {
  margin-bottom: 1rem;
  display: flex;
}

.title {
  display: block;
  font-size: 1.25rem;
  flex: 1;
  cursor: -webkit-grab;
}
.actions {
  opacity: 0;
}

.container:hover .actions{
  opacity: 1;
}

.stories_list {
  padding-left: 32px;
}

.delete_button, .edit_button {
  appearance: none;
  cursor: pointer;
  border: none;
  background: none;
  color: #9B9B9B;
  margin-right: 0.5rem;
}

.delete_unfound_button {
  appearance: none;
  cursor: pointer;
  border: none;
  background: none;
  color: #d6d6d6;
  margin: 0 0 0 8px;
  padding: 0;
}

.delete_button:hover, 
.delete_button:focus, 
.delete_unfound_button:hover, 
.delete_unfound_button:focus {
  color: #E63333;
}

.edit_button:hover,
.edit_button:focus {
  color: #821EBA;
}

.drag_container {
  position: relative;
  padding: 1.5rem;
  background: white;
  border-radius: 4px;
}

.isDragging {
  opacity: 0;
}

.isDragging, .isDragging * {
  cursor: -webkit-grabbing !important;
}

.drag_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.archived_count {
  color: #9B9B9B;
  font-size: 0.75rem;
  padding-left: 2rem;
}

.archived_link {
  color: #d6d6d6;
  text-decoration: none;
}

.archived_link:hover {
  color: #821EBA;
}

.skeleton_story_container {
  padding-left: 30px;
  height: 34px;
  padding-top: 2px;
  box-sizing: border-box;
}

.skeleton_story {
  background: #EEEEEE;
  height: 10px;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  opacity: 0.5;
}

.empty {
  display: block;
  color: #9B9B9B;
  margin-bottom: 1rem;
}

@media screen and (max-width: 940px) {
  .actions, .delete_unfound_button {
    display: none;
  }
}